@media (min-width:600px) and (max-width: 850px) {

   .middle.homepage {
      padding-left: 30px;
   }

   /* intro */
   section {
      padding: 20px 10px;
   }

   #intro h1 {
      font-size: 36px;
      padding: 1rem;
   }

   .prg2 {
      margin-top: 10px;
      margin-left: 34%;
      width: 60%;
   }

   #intro .btn-box {
      display: block;
      left: 0;
      text-align: center;
      margin-top: 200px;
   }

   .services {
      margin-right: 50px;
   }

   /* teams */
   .member .col-md-4 {
      margin-bottom: 20px;
   }

   /* footer */
   .imgcol {
      margin-left: 0;
   }
}


@media (max-width: 600px) {
   
   .middle.homepage {
      padding-left: 30px;
   }

   section {
      padding: 20px 10px;
   }

   #intro h1 {
      font-size: 36px;
      padding: 1rem;
   }

   .prg2 {
      margin-top: 10px;
      margin-left: 10%;
      width: 80%;
   }

   #intro .btn-box {
      display: block;
      left: 0;
      text-align: center;
      margin-top: 170px;
   }

   #intro .btn {
      font-weight: 600;
      height: 45px;
      width: 130px;
   }

   .services {
      margin-right: 30px;
   }

   /* teams */
   .member .col-md-4 {
      margin-bottom: 20px;
   }

   /* footer */
   .footer-col {
      width: 100%;
      margin-bottom: 0px;
   }
   .imgcol {
      margin-left: 0;
   }
}