@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
   scroll-behavior: smooth;
}

/* Sesi Header */

a:hover {
   cursor: pointer;
}

.logosco {
   position: fixed;
   display: inline-block;
   margin: 3px 20px;
   top: 20px;
   font-weight: bold;
   font-size: 25px;
}

.logosco:hover {
   transition: all 0.3s ease;
   opacity: 0.7;
}

.logosco a {
   color: #fff;
   text-decoration: none;
}

header {
   position: fixed;
   display: flex;
   z-index: 3;
   margin-top: 20px;
   left: 0;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   background-color: transparent;
   padding: 46px 0px;
   transition: 500ms;
}

nav {
   position: fixed;
   width: 80%;
   line-height: 60px;
   transition: 500ms;
}

nav ul {
   list-style: none;
   background: rgba(0, 0, 0, 0);
   color: #fff;
   padding: 0;
   text-align: right;
   margin: 0;
   overflow: hidden;
}

header.black {
   margin: auto;
   background-color: #24262b;
   border-radius: 100px;
   width: 80%;
   margin-top: 20px;
   margin-left: 10%;
   padding: 45px;
}

nav ul li {
   display: inline-block;
   padding: 16px 20px;
   font-family: sans-serif;
}

nav ul li a {
   text-decoration: none;
   font-size: 18px;
   font-weight: 600;
   color: #fff;
   transition: 500ms;
}

nav ul li a:hover {
   text-decoration: none;
   color: #fff;
   opacity: 0.7;
}

.menu-icon {
   line-height: 60px;
   width: 100%;
   background: #fff;
   text-align: right;
   box-sizing: border-box;
   padding: 15px 24px;
   cursor: pointer;
   color: rgb(0, 0, 0);
   display: none;
}
.menu .btn {
   color: #ffffff;
   margin-left: 20px;
   margin-right: 20px;
   padding: 14px 25px;
   font-weight: bold;
   background-color: #E84D3D;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btn:hover {
   transition: 500ms;
   opacity: 0.6;
}


@media(max-width: 980px) {

   .logosco {
      position: fixed;
   }

   nav ul {
      max-height: 0px;
      background: #000;
   }

   nav.black ul {
      background: #000;
   }

   nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px;
      text-align: center;
   }
   header.black {
      margin-left: 10%;
   }

   .menu-icon {
      display: block;
   }
}

/*-------------------------------------- CONTENT -----------------------------------------*/

section {
   padding: 50px 8% 80px;
}

.content {
   position: relative;
}

section h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   margin: 0;
   text-align: center;
}

.sub-heading {
   font-size: 1.3rem;
   font-weight: 300;
   margin-bottom: 50px;
}

section p {
   font-size: 1.2rem;
   font-family: 'Open Sans';
   text-align: center;
}

.row {
   margin: 0;
}

/*Middle*/

.middle.homepage {
   background-image: url(../asset/homebg.png);
   background-position: right;
   background-repeat: no-repeat;
   background-size: cover;
   height: 900px;
   padding: 140px 0 100px 70px;
}

.middle.text {
   margin-top: 120px;
   margin-left: 5%;
}

.middle p {
   font-size: 32px;
   font-family: 'Open Sans';
   margin: 0;
   font-weight: lighter;
   animation: ease-in;
   animation-duration: 500ms;
}

.middle h1{
   font-weight: 600;
   color: #fff;
}

.middle .btn {
   color: #ffffff;
   margin-top: 100px;
   padding: 18px 50px;
   margin-left: 5%;
   font-size: 32px;
   font-weight: bold;
   background-color: #E84D3D;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease;
}



.middle b {
   font-size: 32px;
   font-family: 'Open Sans';
   margin: 0;
   font-weight: bold;
   color: #fff;
}

.middle p {
   color: #fff;
}

/* INTRO */
#intro h1 {
   text-align: left;
   font-size: 52px;
}

.img-circle {
   float: left;
   margin-right: 10px;
   width: 75px;
}

.img-circle2 {
   position: absolute;
   top: 48px;
   right: 10px;
   width: 90px;
   z-index: -1;
}

.img-ship {
   position: absolute;
   left: 5%;
   width: 40%;
   z-index: -1;
}

.prg1 {
   text-align: center;
   margin: 35px 4% 0;
   font-weight: 500;
}

.prg2 {
   font-weight: 500;
   display: inline-block;
   text-align: right;
   margin: 2.5rem 0 0 48%;
   height: 150px;
   width: 48%;
}

#intro .btn-box {
   text-align: right;
}

#intro .btn {
   background-color: #E84D3D;
   border-radius: 15px;
   color: white;
   font-weight: 600;
   height: 45px;
   width: 170px;
}

.services {
   margin-right: 100px;
}

.our-fleet {
   margin-right: 4%;
}



/* TEAM */

#team {
   text-align: center;
}

.teams {
   padding: 0 15%;
}

.card {
   border: none;
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   width: 200px;
}

.card img {
   max-width: 80%;
   margin: 0 auto 20px;
}

.card-body {
   padding: 0;
}

.card-text {
   font-weight: 300;
}

/* clients and acquintance */

.companies {
   padding: 0 8%;
}

.companies img {
   max-height: 150px;
   max-width: 100%;
   margin-bottom: 30px;
}


/* Sesi Footer */
body {
   line-height: 1.5;
   font-family: 'Poppins', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   max-width: 100%;
   margin: auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.footer {
   background-color: #24262b;
   padding-top: 40px;
   padding-bottom: 10px;
}

.footer-col {
   width: 50%;
   padding: 0 25px;
}

.footer-col h4 {
   font-size: 42px;
   color: #ffffff;
   text-transform: capitalize;
   font-weight: 700;
   position: relative;
   margin-bottom: 25px;
}

.footer-col h3 {
   font-size: 21px;
   color: #ffffff;
   text-transform: capitalize;
   font-weight: 500;
   position: relative;
}

.footer-col h4::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -5px;
   background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 100px;
}

.footer-col ul li:not(:last-child) {
   margin-bottom: 5px;
}

.footer-col ul li a,
.copyright {
   font-size: 16px;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   margin: 0;
}

.footer-col a:hover,
.copyright:hover {
   color: #ffffff;
}

.imgcol {
   height: 80px;
   margin-left: auto;
}

.imgcol img {
   max-height: 100%;
}

.imgcol a {
   margin: 0 5px;
   padding-right: 20px;
   color: #fff;
}

.copyright {
   text-align: center;
   margin-top: 20px;
}

.icon {
   color: white;
   display: inline-block;
   width: 1.5rem;
}