@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Sesi Header */

.logosco{
    position: relative;
    z-index: 2;
    cursor: pointer;
    max-width: 10px;
    margin-right: auto;
    width: 100%;
    height: auto;
 }
 .logosco:hover {
    transition: all 0.3s ease;
    opacity: 0.7;
 }

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 3%;
    background-color: transparent;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
}

.nav-items{
    list-style: none;
}

.nav-items li{
    display: inline-block;
    padding:  10px 20px;
    padding-top: 5%;
}

.nav-items a{
   font-family: 'Open Sans';
   color: #000000;
   text-decoration: none;
}

.nav-items a:hover{
   transition: all 0.3s ease;
   opacity: 0.7;
   color: #0094FF;
}

.nav-items .btn{
   color: #ffffff; 
   margin-left: 20px;
   padding: 10px 25px;
   background-color: #E84D3D;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease;
}

/* menubutton */
.menu-btn{
   display: none;
   position: relative;
   z-index: 2;
   padding: 0px 10%;
}

.menu-btn div{
   width: 25px;
   height: 3px;
   background-color: black;
   margin: 5px;
}

.menu-btn:hover {
   transition: all 0.3s ease;
   opacity: 0.7;
}

.middle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
}


/*-------------------------------------- CONTENT -----------------------------------------*/

section {
   padding: 50px 100px 80px;
}

.content {
   position: relative;
}

section h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   margin: 0;
   text-align: center;
}

.sub-heading {
   font-size: 1.3rem;
   font-weight: 300;
   margin-bottom: 50px;
}

section p {
   font-size: 1.2rem;
   font-family: 'Open Sans';
   text-align: center;
}


/* INTRO */
#intro h1 {
   font-size: 52px;
}

.img-circle {
   float: left;
   margin-right: 10px;
   width: 75px;
}

.img-circle2 {
   position: absolute;
   top: 48px;
   right: 10px;
   width: 90px;
   z-index: -1;
}

.img-ship {
   float: left;
   margin: 0 55px 0 65px;
   width: 450px;
}

.prg1 {
   text-align: center;
   margin: 35px 45px 0;
}

.prg2 {
   text-align: right;
   margin: 30px 55px;
}

#intro .btn-box {
   position: absolute;
   display: inline-block;
   right: 55px;
}

.btn-box .btn {
   background-color: #E84D3D;
   border-radius: 15px;
   color: white;
   font-weight: 600;
   height: 45px;
   width: 170px;
}

.services {
   margin-right: 130px;
}


/* TEAM */

#team {
   text-align: center;
}

.teams {
   padding: 0 180px;
}

.card {
   border: none;
   font-family: Arial, Helvetica, sans-serif;
   width: 200px;
}

.card img {
   max-width: 80%;
   margin: 0 auto 20px;
}

.card-body {
   padding: 0;
}

.card-text {
   font-weight: 300;
}


/* clients and acquintance */

.companies {
   padding: 0 100px;
}

.companies img {
   max-height: 150px;
   max-width: 100%;
   margin-bottom: 30px;
}







/* Sesi Footer */

footer {
    padding-top: 80px;
    /* padding-top: 40px; */
    padding-bottom: 50px;
    /* padding-bottom: 0px; */
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(217, 217, 217);
    text-align: center;
}

footer li {
    display: inline;
    padding-right: 20px;
}