@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


/* Sesi Header */

.logosco {
   position: fixed;
   float: left;
   margin: 3px 46px;
   font-weight: bold;
<<<<<<< Updated upstream
   font-size: 25px;

=======
   font-size: 25px; 
   margin-top: 5px;
   transition: 500ms;
   visibility: hidden;
>>>>>>> Stashed changes
}

.logosco:hover {
   transition: all 0.3s ease;
   opacity: 0.7;
}

header {
   position: fixed;
   display: flex;
   top: 0;
   left: 0;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   background-color: transparent;
<<<<<<< Updated upstream
   padding: 45px 0px;
=======
   padding: 50px 0px;
   transition: 500ms;
>>>>>>> Stashed changes
}

nav {
   position: fixed;
   width: 90%;
   line-height: 60px;
}

nav ul {
   list-style: none;
   background: rgba(0, 0, 0, 0);
   overflow: hidden;
   color: #fff;
   padding: 0;
   text-align: right;
   margin: 0;
   padding-right: 40px;
   transition: 500ms;
}

nav.black ul {
   background: #fff;
}

nav ul li {
   display: inline-block;
   padding: 16px 40px;
   font-weight: 500;
   font-family: sans-serif;
}

nav ul li a {
   text-decoration: none;
   color: #000;
<<<<<<< Updated upstream
   font-size: 18px;
=======
   transition: 500ms;
   color: #fff;
>>>>>>> Stashed changes
}

nav ul li a:hover {
   transition: 500ms;
   text-decoration: none;
   color: rgb(29, 84, 195);
   opacity: 0.8;
}

.menu-icon {
   line-height: 60px;
   width: 100%;
   background: #fff;
   text-align: right;
   box-sizing: border-box;
   padding: 15px 24px;
   cursor: pointer;
   color: #000;
   display: none;
}

.menu .btn {
   color: #ffffff;
   margin-left: 20px;
   padding: 14px 25px;
   font-weight: bold;
   background-color: #E84D3D;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.btn:hover {
   transition: 500ms;
<<<<<<< Updated upstream
   opacity: 0.7;
}


@media(max-width: 1250px) {
=======
   opacity: 0.6;
   color: #fff:
}




@media(max-width: 980px) {
>>>>>>> Stashed changes

   .logo {
      position: fixed;
<<<<<<< Updated upstream
      top: 0;
      margin-top: 16px;
   }
=======
      align-items: center;
       }
>>>>>>> Stashed changes

   nav ul {
      max-height: 0px;
      background: #000;
   }

   nav.black ul {
      background: #000;
   }

   .showing {
      max-height: 34em;
   }

   nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px;
      text-align: center;
   }

   .menu-icon {
      display: block;
   }

}

/*-------------------------------------- CONTENT -----------------------------------------*/

section {
   padding: 50px 8% 80px;
}

.content {
   position: relative;
}

section h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   margin: 0;
   text-align: center;
}

.sub-heading {
   font-size: 1.3rem;
   font-weight: 300;
   margin-bottom: 50px;
}

section p {
   font-size: 1.2rem;
   font-family: 'Open Sans';
   text-align: center;
}

.row {
   margin: 0;
}

<<<<<<< Updated upstream
=======
/*Middle*/

.middle {
   background-image: url(../asset/homebg.png);
   background-position: right;
   background-repeat: no-repeat;
   background-size: cover;
   height: 1080px;
   padding: 210px 0 100px 200px;
   color: #fff
}

.middlelogo {
   position: absolute;
   margin: 0 5px;
   margin-left: -160px;

}

.middle p {
   font-size: 32px;
   font-family: 'Open Sans';
   margin: 0;
   font-weight: lighter;
   animation: ease-in;
   animation-duration: 500ms;
}

.middle-btn {
   padding-top: 125px;
   padding-right: 0;
   padding-left: 1px;
}

.middle .btn {
   color: #ffffff;
   margin-left: 20px;
   margin-right: 20px;
   padding: 20px 45px;
   font-weight: bold;
   font-size: 25px;
   background-color: #E84D3D;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease;
   }

.middle h1 {
   font-weight: bold;
   font-size: 52px;
}

.middle b {
   font-size: 32px;
   font-family: 'Open Sans';
   margin: 0;
   font-weight: bold;
}

>>>>>>> Stashed changes
/* INTRO */

#intro {
   padding-top: 0px;
}

#intro h1 {
   text-align: left;
   font-size: 52px;
}

.img-circle {
   float: left;
   margin-right: 10px;
   width: 75px;
}

.img-circle2 {
   position: absolute;
   top: 48px;
   right: 10px;
   width: 90px;
   z-index: -1;
}

.img-ship {
<<<<<<< Updated upstream
   position: absolute;
   left: 5%;
   width: 40%;
=======
   display: block;
   margin-left: auto;
   width: 65%;
   z-index: -1;
>>>>>>> Stashed changes
}

.prg1 {
   text-align: center;
<<<<<<< Updated upstream
   margin: 35px 4% 0;
=======
   display: inline-block;
   margin: 35px 15% 0;
   font-weight: 500;
>>>>>>> Stashed changes
}

.prg2 {
   display: inline-block;
<<<<<<< Updated upstream
   text-align: right;
   margin: 2.5rem  0 0 48%;
=======
   text-align: center;
   margin: 35px 15% 0;
>>>>>>> Stashed changes
   height: 150px;
}

#intro .btn-box {
   text-align: center;
}

#intro .btn {
   background-color: #E84D3D;
   border-radius: 15px;
   color: white;
   font-weight: 600;
   height: 45px;
   width: 170px;
}

.services {
   margin-right: 100px;
}

.our-fleet {
   margin-right: 4%;
}



/* TEAM */

#team {
   text-align: center;
   padding-top: 160px;
}

.teams {
   padding: 0 15%;
}

.card {
   border: none;
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   width: 200px;
}

.card img {
   max-width: 80%;
   margin: 0 auto 20px;
}

.card-body {
   padding: 0;
}

.card-text {
   font-weight: 300;
}

/* clients and acquintance */

.companies {
   padding: 0 8%;
}

.companies img {
   max-height: 150px;
   max-width: 100%;
   margin-bottom: 30px;
}

 .middle {
    background-image: url(../asset/homebg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 500px;
    padding-bottom: 300px;
    text-align: left;
    padding-left: 50px ;
}

.middle a {
    font-size: 35px;
    font-weight: bold;
}

/* Sesi Footer */

body {
   line-height: 1.5;
   font-family: 'Poppins', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   max-width: 100%;
   margin: auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
}

.footer {
   background-color: #24262b;
   padding: 40px 0;
}

.footer-col {
   width: 65%;
   padding: 0 25px;
}

.footer-col h4 {
   font-size: 42px;
   color: #ffffff;
   text-transform: capitalize;
   font-weight: 700;
   position: relative;
   margin-bottom: 25px;
}

.footer-col h3 {
   font-size: 21px;
   color: #ffffff;
   text-transform: capitalize;
   font-weight: 500;
   position: relative;
}

.footer-col h4::before {
   content: '';
   position: absolute;
   left: 0;
   bottom: -5px;
   background-color: #e91e63;
   height: 2px;
   box-sizing: border-box;
   width: 100px;
}

.footer-col ul li:not(:last-child) {
   margin-bottom: 5px;
}

.footer-col ul li a {
   font-size: 16px;
   color: #ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #ffffff;
}

.footer-col ul li a:hover {
   color: #fff;
}

.imgcol {
   display: flex;
}

.imgcol a {
   margin: 0 5px;
   padding-right: 20px;
   color: #fff;
}

/*responsive footer*/
@media(max-width: 700px){
    .footer-col{
      width: 100%;
      margin-bottom: 30px;
  }
    .imgcol{
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0%; 
    }
  }


.active {
   background: #ffffff;
}

.active a:hover {
   color: rgb(0, 0, 0);
}
